<div class="container">
  <div class="content">
    <p>Applikey Ruby on Rails test task<p>
    <p>Created by Michail Belousov</p>
    <p>Used technologies:</p>
    <ol>
      <li>* Ruby on Rails 4.2.5</li>
      <li>* Ruby 2.2.1</li>
      <li>* PostgreSQL</li>
      <li>* Twitter Bootstrap 3</li>
      <li>GitHub link: <a href="https://github.com/MrBelousov/applikey-test-task">
        https://github.com/MrBelousov/applikey-test-task</a></li>
    </ol>
  </div>
</div>