<%= form_for(Post.new, remote: true) do |f| %>
  <%= render 'layouts/shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :post_text, placeholder: "Compose new post...", required: true %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
