/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background: #F5F8FA;
}

li{
  list-style-type: none;
}

h3{
  font-family: initial;
  font-style: unset;
}

textarea {
  overflow: auto;
  height: 70px;
  width: 70%;
}

.btn-primary{
  background: rgba(137, 201, 250, 0.8) none repeat scroll 0% 0%;
  border: 1px solid transparent;
  transition: 0.3s;
}

.btn-primary:hover{
  background-color: #1B95E0;
  border: 1px solid transparent;
  transition: 0.3s;
}

.header-menu li{
  float: left;
  a {
    color: #666666;
    transition: 0.3s;
  }
}

.header-menu li a:hover{
  transition: 0.3s;
}

.header-row{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 100px;
  background: white;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.dropdown-menu{
  min-width: 100%;
}

.footer{
  margin-top: 50px;
  height: 60px;
}

.media-heading{
  font-style: oblique;
}