// Place all the styles related to the post_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.commentator-avatar{
  width: auto;
  max-height: 60px;
  border-radius: 3px;
}

.remove-comment-link{
  margin-left: 20px;
}

.comment-wrapper{
  padding-left: 30px;
}

.comment{

}