// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.align-center{
  text-align: center;
}

.align-left{
  text-align: left;
}

.sign-form{
  width: 30%;
  margin: auto;
}

.form-control{
  margin-bottom: 10px;
}